---
import MainLayout from "../layouts/MainLayout.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <MainLayout>
    <Nav />
    <section class="container mx-auto max-w-lg justify-center">
      <h1 class="text-red-500 text-5xl">Site still in development</h1>
    </section>
  </MainLayout>
</html>
