---
const {title} = Astro.props;

import { ClientRouter } from "astro:transitions";
---

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
</head>
