---
interface Props {
    title?: string;
    description?: string;
}

const { title = "Mark Edzel Potane", description } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/jpeg" href="/gt.jpg" />
    <ClientRouter />
</head>
