<section class="container mx-auto max-w-lg flex gap-5 justify-center p-5">
  <div>
    <p>Mpotane</p>
  </div>
  <div class="flex gap-5">
    <a href="/">about</a>
    <a href="/">projects</a>
    <a href="/">blogs</a>

  </div>
</section>
