---
import "@fontsource/geist-sans";
import Head from "../components/Head.astro";
import "../styles/global.css";
---
<Head />
<body>
  <slot />
</body>

<style>
  body {
    font-family: "Geist Sans";
  }
</style>
